src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="63c83dc6-aa30-4858-8a4a-3ae2cd313d13" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="f570ef57-fbca-416f-b0c7-c847ab67ad0e" >
		<http:listener doc:name="Listener" doc:id="2380b60e-3bed-4428-86fe-883bbda78222" config-ref="HTTP_Listener_config" path="/sample"/>
		<set-payload value='#["message from sample project..."]' doc:name="Set Payload" doc:id="0065c884-5430-4f2e-9a96-feccc4bab192" />
		<logger level="INFO" doc:name="Logger" doc:id="f1124283-b094-4ef9-b8d7-8dc85ba99887" message="#[payload]"/>
	</flow>
</mule>
